<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @owner.User %>
</p>

<p>
  <strong>Facebookappid:</strong>
  <%= @owner.facebookappid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @owner.description %>
</p>

<p>
  <strong>Facebookappkey:</strong>
  <%= @owner.facebookappkey %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
