<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @visit.Client %>
</p>

<p>
  <strong>Timeinstore:</strong>
  <%= @visit.timeinstore %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
