<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @food.Item %>
</p>

<p>
  <strong>Uid food:</strong>
  <%= @food.uid_food %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
